- var dashboards =  [ "CLS - Funding", "EMS - Funding", "Funding :: Activity", "Funding :: Metrics", "Funding :: Pipeline", "PCS - Funding", "RMS - Funding", "TCS - Funding", "TPS - Funding", "UMS - Funding Activity / Pipeline", "WMS - Funding"]
- var kpis = [ "Activity :: Funded" ]
- var scorecards = []

mixin panel(text)
  div.panel
    small #{text}
doctype html
head
  title My Business Intelligence
  link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/css/foundation.min.css')
body.antialiased.hide-extras
  .row
    h3 My Business Intelligence
  .row
    hr
  .row
      .small-2.columns
        label.left.inline Keyword Search
      .small-10.columns
        input(type='text',value='fund')
  .row
    hr
  .row
    h3 Dashboards
  .row
    each item in dashboards
      .small-6.large-2.columns
        +panel(item)
  .row
    h3 KPIs
  .row
    each item in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36]
      .small-6.large-2.columns
        +panel('KPI ITEM #'+item)
  .row
    h3 Scorecards
  .row
    each item in [1,2,3,4]
      .small-6.large-2.columns
        +panel('SC ITEM #'+item)
  script(src='//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/foundation.min.js')
